@model List<LAB.MVC.Models.TerritoriesView>

@{
    ViewBag.Title = "Territories Page";
}

<h1 class="text-center">Consulta de lista actual de territorios.</h1>
<br />
<div>
    @Html.ActionLink("AGREGAR NUEVO TERRITORIO", "Insert", null, new { @class = "btn btn-success stretched-link" })
</div>
<br/>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Descripcion</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    @foreach (var territories in Model)
    {
        <tr>
            <td scope="row">@territories.Id</td>
            <td>@territories.TerritoryDescription</td>
            <td>@Html.ActionLink("Borrar", "Delete", new { id = territories.Id }, new { onclick = "return confirm('¿Esta seguro de que desea eliminar el empleado?')", @class = "btn btn-danger stretched-link" })</td>
            <td>@Html.ActionLink("Modificar", "Insert", new { id = territories.Id }, new { @class = "btn btn-primary stretched-link" })</td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("AGREGAR NUEVO TERRITORIO", "Insert", null, new { @class = "btn btn-success stretched-link" })
</div>
